<!DOCTYPE html>
<html lang="pt-bt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/estilos.css">
    <script src="js/autenticao.js" defer></script>



</head>
<body class="azul_fraco">
     
    <script> 








    </script>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="home">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Autenticacao</li>
    </ol>
  </nav>
	 









<div class="w-75 mx-auto border border-1 px-4" >

    <form    method="post" action="Salvar"  >

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="seu email" aria-describedby="emailHelp">
         
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Senha</label>
          <input type="password" name="senha" class="form-control" id="exampleInputPassword1" placeholder="senha...">
        </div>
        
        <input type="submit" name="estado" class="btn btn-primary w-100" value="Login" >
    
      </form>
     
      <button id="alternar"  class="text-decoration-underline border border-0 bg-transparent text-bg-primary ">Não tem conta desejar criar?</button>
            </div>
           
          </div>
        </div>
      </div>



</div>


 





 









</body>
</html>